@import url('https://fonts.googleapis.com/css2?family=Anta&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


body {
    align-items: center;
    padding: 100px 0;
    margin: 100px 0; 
    background: url(../img/maria-ziegler-jJnZg7vBfMs-unsplash.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 80px;

}

#logo {
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px; 
}

.card-header {
    font-size: 30px;
    font-weight: bold;
    float: left;
    
}

#contenedor-login {
    margin: auto;
    width: 600px;
    font-size: 21px;
    font-weight: bold;
    
}

.text {
    text-align: center;
}


/* .ingresar {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px auto;
}

.ingresar:hover {
    text-decoration: underline;
    cursor: pointer;
} */

/* .regresar {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.regresar:hover {
    text-decoration: underline;
    cursor: pointer;
} */

.fondo {
    background: url(../img/Background/dashboard.jpg);
    background-position: center;
    background-size: cover;
}

.boton{
    width: 100%;
	border-radius: 6px;
    border: none;
    padding: 12px;
    margin: 14px 0;
    font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	color:rgba(255,255,255,1);
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all ease 0.5s;
	background:rgb(1232, 78, 17);
}

.boton:after,
.boton:before{
	/* width: 80px;
	height: 200px; */
	content: '';
	display: block;
	background: rgb(32, 163, 163);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}

.boton:before{
	left: -48%;
}

.boton:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:rgba(11, 131, 333, 0.5);
}

.boton:hover:after,
.boton:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(182, 0, 0, 0.1);
	transition: all ease 0.5s;
}

.boton:hover:after{
	right: 330%;
}

.boton:hover:before{
	left: 330%;
}



/* db.platos.insertOne(
    {
        codReceta: 1,
        nombreReceta: "pavo al vapor",
        valor: 23000,
        timePreparation: "2 horas",
        chef_especialistas:
        [
            {
                rut_chef: 19862633-3,
                nombreChef: "Matias Aguayo"
            }
        ],
        ingredientes: [
            {
                nombreIngredientes: "Pavo",
                gramajeRequerido: 3,
                observaciónIngrediente: "requiere de mucho pavo"
            }
        ]
        

    }
) */
