body{
    background-image: url("../img/fondo.jpg");
    
}
.card-header {
    font-size: 30px;
    font-weight: bold;
    float: left;
}

#contenedor-login {
    margin: auto;
    width: 600px;
    font-size: 21px;
}

.text {
    text-align: center;
}


.ingresar {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px auto;
}

.ingresar:hover {
    text-decoration: underline;
    cursor: pointer;
}

.regresar {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.regresar:hover {
    text-decoration: underline;
    cursor: pointer;
}




