* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/maria-ziegler-jJnZg7vBfMs-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .efecto-glass {
    position: relative;
    width: 700px;
    height: 600px;
    background-color: rgba(0,0,0,.2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,.4);
} */

/* .formulario {
    position: absolute;
    color: #fff;
    padding: 10px;
    width: 100%;
} */

h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

/* .separacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255,255,255,.4);
    padding: 8px 10px;
    margin-bottom: 20px;
    border-radius: 30px;
} */


::placeholder {
    color: #ddd;
    
}


#cont_formulario {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
    backdrop-filter: blur(5px);
}  


/* La sepracion */

.separacion {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}


#registrar {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

#registrar:hover {
    text-decoration: underline;
    cursor: pointer;
}

#regresar {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

#regresar:hover {
    text-decoration: underline;
    cursor: pointer; 
}





